.hexagon{
    width: 400px;
    height: 200px;
    background: red;
    transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    -o-transform: rotate(120deg);
    -webkit-transform: rotate(120deg);
    margin: 200px auto;
    overflow: hidden;
    visibility: hidden;
}

.hexagon-inside{
    width: 100%;
    height: 100%;
    background: green;
    transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
    overflow: hidden;
    visibility: hidden;
}

.hexagon-image{
    width: 100%;
    height: 100%;
    background: gold;
    background-position: center;
    transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
    visibility: visible;
}
.jumbotron{
    background: linear-gradient(to bottom, #ffff66 0%, #ff6600 100%);
    height: 500px;
    color: white;
    text-align: center;
}
.jumbotron h1{
    font-size: 6rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 0;
}
.jumbotron p{
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 5rem 0 5rem;
}
.jumbotron svg{
    display: block;
    margin: 0;
}
.container{
    margin: 0;
}
.nav-link{
    color: black;
}